<% include partials/header %>
<h1>Login!</h1>

<form action="/login" method="POST">
    <p>
        <input type="text" name="username" placeholder="Username">
    </p>
    <p>
        <input type="password" name="password" placeholder="Password">
    </p>
    <button>Login</button>
</form>

<% include partials/footer %>